{% extends "base.html" %}
{% load static %}
	{% block content %}
<section id="intro" style=" background: url(https://yuz.uz/file/news/6e04f2753479001a5a4ffff44b2a3a6e.jpg) ;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0"><br><span>Welcome to ICGSD 2025 Conference</span></h1>
      <p class="mb-4 pb-0">International Conference on Green and Sustainable Development: <br> Harmonizing Environmental and Economic Dimensions</p>
<div class="flex items-center justify-center gap-2">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar h-5 w-5"><path d="M8 2v4"></path><path d="M16 2v4"></path><rect width="18" height="18" x="3" y="4" rx="2"></rect><path d="M3 10h18"></path></svg><span class="text-sm text-white" style="padding-left:15px;" >February 17-19, 2025</span>   <svg style="margin-left:30px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin h-5 w-5" ><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path><circle cx="12" cy="10" r="3"></circle></svg>  <span class="text-sm text-white" style="margin-left:15px;" > Tashkent, Uzbekistan</span></div>
<div class="row">
    {% for i in link %}
  <div class="col-md-6">
    <a href="{{i.submit_link}}" class="about-btn scrollto">SUBMIT</a>
  </div>
   <div class="col-md-6">
    <a href="{{i.register_link}}" class="about-btn scrollto">REGISTER</a>
  </div>
     {% endfor %}

</div>

    </div>
  </section>
<main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
<div class="section-header">
          <h2>About</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h2 >Welcome to ICGSD 2025 Conference</h2>
        <p  style="font-size:18px"> We would like to extend our warmest invitation to you for participating in 2025 International Conference on Green and Sustainable Development: Harmonizing Environmental and Economic Dimensions (ICGSD 2025) that will be held in Tashkent, Uzbekistan during February 17-19, 2025.
</p>
              <p style="font-size:18px">
                  As countries around the world continue to integrate economically, many are restructuring their economies to harness the power of science and technological innovation for growth. The traditional model of extensive economic development has, over the past few decades, led to environmental damage, low efficiency, and high capital costs. This outdated approach no longer meets the needs of the modern era, highlighting the necessity for transformation and innovation. In response to this, ICGSD2025 focuses on economic development and the latest knowladge, offering theoretical foundations for sustainable and rapid growth.
              </p >
              <p style="font-size:18px" >The conference’s agenda is comprehensive, featuring keynote addresses, oral presentations, all designed to foster academic exchange across industries. Scholars worldwide are encouraged to submit their work and participate in the event.</p>

          </div>
          <div class="col-lg-1">

          </div>
          <div class="col-lg-5">
            <img src="https://old.allomalar.uz/media/images/rasm/photo_2024-07-23_16-00-40.jpg" style="height:650px; border-radius:5%">

          </div>
        </div>
      </div>
    </section>




    <!--==========================
      Hotels Section
    ============================-->
    <section id="hotels" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Topics</h2>
          <p style="font-size:22px">ICGSD2025 covers the fields of science such as Environmental Sustainability, <br>Green Development, Economics, Innovation and Social Impact.<br> Conferences is conducted on the following topics:</p>
        </div>

        <div class="row" style="font-size:15px; text-align:center">
    <div class="col-lg-4 col-md-6 hotel1">
      <div class="hotel" style="font-size:18px">
       ESG (Environmental, Social, Governance) Aspects of Sustainable Development
      </div>
    </div>
    <div class="col-lg-4 col-md-6 hotel1">
      <div class="hotel" style="font-size:18px">
        Green Economy and Finance
      </div>
    </div>
    <div class="col-lg-4 col-md-6 hotel1">
      <div class="hotel" style="font-size:18px">
        Innovative Solutions for Global Environmental Issues
      </div>
    </div>
    <div class="col-lg-4 col-md-6 hotel1">
      <div class="hotel" style="font-size:18px">
       Digital Transformation for Sustainable Growth
      </div>
    </div>
    <div class="col-lg-4 col-md-6 hotel1">
      <div class="hotel" style="font-size:18px">
        Artificial Intelligence and Economic Development
      </div>
    </div>
            <div class="col-lg-4 col-md-6 hotel1">
      <div class="hotel" style="font-size:18px">
        Enhancing Environmental through Education and Workforce Development
      </div>
    </div>
  </div>
      </div>

    </section>
   <section id="speakers" class="bg-white fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2> speakers</h2>
        </div>

        <div class="row">

          {% for i in speaker %}
          <div class="col-lg-6 col-md-6" style="padding:30px; ">
            <div  style="  background-color:#e9ecef; padding:40px; border-radius:2%; height:100% ">
              <div class="row">

                <div class="col-md-5">
              <img src="{{i.img.url}}" style="width:100%; border-radius:10%" >


                </div>
                <div class="col-md-7">
                  <h5><b>{{i.name}}</b></h5>
                  <h6>{{i.address}}</h6>
                  {{i.info | safe}}
                </div>


              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </section>
    <!--==========================
      Venue Section
    ============================-->
    <section  id="venue" class="wow fadeInUp  section-with-bg"  >

      <div class="container">

        <div class="section-header">
          <h2>DATES and VANUE</h2>
        </div>

        <div class="row no-gutters" >
          <div class="col-md-5 " style="height:650px">
            <img src="https://old.allomalar.uz/media/images/rasm/info.6afed713.jpg" style="height:570px; border-radius:3%">
          </div>

          <div class="col-md-7 " style="height:650px">
            <div class="col-12 col-lg-12">
                <h2 style="font-size:20px" ><b>Important dates:   </b></h2>
                 <div class="row schedule-item">
                   <div class="col-md-4">Submissions Deadline: </div>
                   <div class="col-md-4">
               January 10, 2025
              </div>
                                      <div class="col-md-4"></div>

                 </div>
                 <div class="row schedule-item">
                   <div class="col-md-4">Authors Notification:  </div>
                   <div class="col-md-4">
              January 20, 2025
              </div>
                                      <div class="col-md-4"></div>

                 </div>
                 <div class="row schedule-item">
                   <div class="col-md-4">Registration Deadline: </div>
                   <div class="col-md-4">
              January 30, 2025
              </div>
                                      <div class="col-md-4"></div>

                 </div>
                 <div class="row schedule-item">
                   <div class="col-md-4">Camera Ready Due:  </div>
                   <div class="col-md-4">
              February 5, 2025
              </div>
                                      <div class="col-md-4"></div>
                   <div class="col-md-12" style="padding-top:15px; padding-bottom:5px; font-size:18px" >
                       <b>Address:</b> 100066,  49 Islam Karimov street, Tashkent, Uzbekistan
                   </div>

                 </div>
            </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5993.685691486658!2d69.2441758!3d41.3122823!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b05774c5969%3A0xd6f6eef4c05c280!2sToshkent%20davlat%20iqtisodiyot%20universiteti!5e0!3m2!1suz!2s!4v1721731715170!5m2!1suz!2s"  style="border:0; border-radius:3%; height:400px; width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>          </div>
        </div>

      </div>


    </section>




    <!--==========================
      Gallery Section
    ============================-->


    <!--==========================
      Sponsors Section
    ============================-->
    <section id="sponsors" class="section wow fadeInUp">

      <div class="container">
 <div class="section-header">
          <h2>Organizers </h2>
        </div>


        <div class="row no-gutters sponsors-wrap clearfix" style="justify-content: center;display: flex;  flex-wrap: wrap;">


          {% for i in partner %}
          <div style="width:33.3%">
            <div class="sponsor-logo">
              <img src="{{i.img.url}}" class="img-fluid" alt="">
            </div>
          </div>
          {% endfor %}



        </div>

      </div>

    </section>
    <section id="sponsors" class="section-with-bg wow fadeInUp">

      <div class="container">
 <div class="section-header">
          <h2>Sponsors </h2>
        </div>


        <div class="row no-gutters sponsors-wrap clearfix">


          {% for i in sponsor %}
          <div style="width:33.3%">
            <div class="sponsor-logo">
              <img src="{{i.img.url}}" class="img-fluid" alt="">
            </div>
          </div>
          {% endfor %}



        </div>

      </div>

    </section>
      <!--==========================
      Speakers Section
    ============================-->
      <!--==========================
      Schedule Section
    ============================-->



  </main>




{% endblock content %}